/*
IgorCL - an XOP to use OpenCL in Igor Pro
Copyright(C) 2013-2017 Peter Dedecker

This program is free software : you can redistribute it and / or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.If not, see <http://www.gnu.org/licenses/>.

The developer(s) of this software hereby grants permission to link
this program with Igor Pro, developed by WaveMetrics Inc. (www.wavemetrics.com).
*/

/*	XOP-specific resources for IgorCL on Windows

	This file is compiled by the resource compiler and creates XOP-specific
	resources that IGOR looks for in an XOP module.
*/

#include "XOPResources.h"			// Defines XOP-specific symbols.

// Custom error messages
1100 STR#
BEGIN
	"IgorCL requires Igor Pro 6.0 or later.\0",		// OLD_IGOR
	"OpenCL returned an error (see command line output)\0",

	"\0"							// NOTE: NULL required to terminate the resource.
END

// No menu items

1100 XOPI							// XOPI - Describes general XOP properties to IGOR. 
BEGIN
	XOP_VERSION,					// Version number of host XOP system.
	DEV_SYS_CODE,					// Code for development system used to make XOP.
	0,								// Obsolete - set to zero.
	0,								// Obsolete - set to zero.
	XOP_TOOLKIT_VERSION				// XOP Toolkit version.
END

1100 XOPC							// Describes operations that the XOP adds to IGOR.
BEGIN
	"IgorCL\0",
	waveOp | XOPOp | compilableOp | threadSafeOp,

	"IgorCLCompile\0",
	waveOp | XOPOp | compilableOp | threadSafeOp,

	"IgorCLInfo\0",
	waveOp | XOPOp | compilableOp | threadSafeOp,

	"\0"							// NOTE: NULL required to terminate the resource.
END
